/* TODO(you): Write the CSS to finish the assignment! */
.choice-grid{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
	padding:10px 0px;
}

.choice-grid div {
  width: 32.5%;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  margin: 20px 0px;
  padding: 10px;
}

.choice-grid div img {
  width: 100%;
}


@media (max-width:700px) {
  article {
    width: 95%;
  }
}

@media (max-width:500px) {
  .choice-grid div {
    width: 49%;
  }
}